<div class = "panel panel-info courses table-responsive">
    <div class = "panel-heading">
        <h2>{{ facultyShortName }} - {{ facultyName }}</h2>
    </div>
    <div class = "btn-toolbar btn-toolbar-semesters-available-courses">
        <td><button type="button" id = "previousButton{{ facultyShortName }}" class="previousButton btn btn-success active">Semester Winter 2016/2017</button></td>
        <td><button type="button" id = "currentButton{{ facultyShortName }}" class="currentButton btn btn-success active">Semester Summer 2016/2017</button></td>
        <td><button type="button" id = "nextButton{{ facultyShortName }}" class="nextButton btn btn-success active">Semester Winter 2017/2018</button></td>
        <td><button type="button" id = "otherButton{{ facultyShortName }}" class="otherButton btn btn-success active">Semester - Other</button></td>
    </div>
    <div class = "panel-body">

        <div class = "panel panel-info courses table-responsive" id = "previous{{ facultyShortName }}">
            <div class = "panel-heading">
                <h2>Semester {{ previousSemester.season }} {{ previousSemester.year }}</h2>
            </div>
            <div class = "panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Form</th>
                        <th>ECTS</th>
                        <th>Level</th>
                        <th>Type</th>
                        <th>Syllabus</th>
                        <th>Choose</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in coursesPrevious %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ course.code }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.form }}</td>
                            <td>{{ course.eCTS }}</td>
                            <td>{{ course.level }}</td>
                            <td>{{ course.type }}</td>
                            {% if course.syllabus is not null %}
                                <td><a href= "{{ asset('uploads/syllabuses/' ~ course.syllabus) }}">syllabus</a></td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td><a href="{{ path('addStudentCourse', {'studentId': studentId, 'courseCode': course.code}) }}"><button type="button" class="btn btn-primary">Add course for student</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class = "panel panel-info courses table-responsive" id = "current{{ facultyShortName }}">
            <div class = "panel-heading">
                <h2>Semester {{ currentSemester.season }} {{ currentSemester.year }}</h2>
            </div>
            <div class = "panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Form</th>
                        <th>ECTS</th>
                        <th>Level</th>
                        <th>Type</th>
                        <th>Syllabus</th>
                        <th>Choose</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in coursesCurrent %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ course.code }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.form }}</td>
                            <td>{{ course.eCTS }}</td>
                            <td>{{ course.level }}</td>
                            <td>{{ course.type }}</td>
                            {% if course.syllabus is not null %}
                                <td><a href= "{{ asset('uploads/syllabuses/' ~ course.syllabus) }}">syllabus</a></td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td><a href="{{ path('addStudentCourse', {'studentId': studentId, 'courseCode': course.code}) }}"><button type="button" class="btn btn-primary">Add course for student</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class = "panel panel-info courses table-responsive" id = "next{{ facultyShortName }}">
            <div class = "panel-heading">
                <h2>Semester {{ nextSemester.season }} {{ nextSemester.year }}</h2>
            </div>
            <div class = "panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Form</th>
                        <th>ECTS</th>
                        <th>Level</th>
                        <th>Type</th>
                        <th>Syllabus</th>
                        <th>Choose</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in coursesNext %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ course.code }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.form }}</td>
                            <td>{{ course.eCTS }}</td>
                            <td>{{ course.level }}</td>
                            <td>{{ course.type }}</td>
                            {% if course.syllabus is not null %}
                                <td><a href= "{{ asset('uploads/syllabuses/' ~ course.syllabus) }}">syllabus</a></td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td><a href="{{ path('addStudentCourse', {'studentId': studentId, 'courseCode': course.code}) }}"><button type="button" class="btn btn-primary">Add course for student</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class = "panel panel-info courses table-responsive" id = "other{{ facultyShortName }}">
            <div class = "panel-heading">
                <h2>Semester {{ otherSemester.season }} {{ otherSemester.year }}</h2>
            </div>
            <div class = "panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Form</th>
                        <th>ECTS</th>
                        <th>Level</th>
                        <th>Type</th>
                        <th>Syllabus</th>
                        <th>Choose</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in coursesOther %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ course.code }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.form }}</td>
                            <td>{{ course.eCTS }}</td>
                            <td>{{ course.level }}</td>
                            <td>{{ course.type }}</td>
                            {% if course.syllabus is not null %}
                                <td><a href= "{{ asset('uploads/syllabuses/' ~ course.syllabus) }}">syllabus</a></td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td><a href="{{ path('addStudentCourse', {'studentId': studentId, 'courseCode': course.code}) }}"><button type="button" class="btn btn-primary">Add course for student</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>