<li><p class="navbar-text"><a href="{{ path('userLogin') }}" class="navbar-link">To Do</a></p></li>
<li><p class="navbar-text"><a href="{{ path('coursesList') }}" class="navbar-link">Courses List</a></p></li>
<li><p class="navbar-text"><a href="{{ path('studentList') }}" class="navbar-link">Students</a></p></li>
<li><p class="navbar-text"><a href="{{ path('externalCoordinatorList') }}" class="navbar-link">External Coordinators</a></p></li>
<li><p class="navbar-text"><a href="{{ path('deansOfficeList') }}" class="navbar-link">Deans Offices</a></p></li>
<li><p class="navbar-text"><a href="{{ path('universityList') }}" class="navbar-link">Universities</a></p></li>