{% extends "Basic/list.html.twig" %}

{% block header %}
    <h1 class = "page-header">Internal Coordinators</h1>
{% endblock %}

{% block addOrEditForm %}
    {% form_theme form _self %}

    <div class = "table-wrap">

        <h2 class="header" style="margin-top: 10px">{{ formTitle }}</h2>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

    {% block form_errors %}
        {% spaceless %}
            {% if errors is defined and errors|length > 0 %}
                <ul class="error-list">
                    {% for error in errors %}
                        <li class="error-message">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endblock form_errors %}
{% endblock %}

{% block listName %}
    <h2 class="header">Internal Coordinators List</h2>
{% endblock %}

{% block tableHeader %}

    <tr>
        <th class="hover-col">No. <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span></th>
        <th class="hover-col">Username <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Name <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Surname <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Faculty <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
    </tr>

{% endblock %}

{% block tableBody %}

    {% for internalCoordinator in internalCoordinators %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ internalCoordinator.username }}</td>
            <td>{{ internalCoordinator.name }}</td>
            <td>{{ internalCoordinator.surname }}</td>
            <td>{{ facultyShortNames[loop.index-1] }}</td>

            <td><a href="{{ path('editInternalCoordinator', {'id': internalCoordinator.id}) }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#internalCoordinator{{ internalCoordinator.id }}DeleteAlert">Delete</button></td>
            <div class="modal fade" id="internalCoordinator{{ internalCoordinator.id }}DeleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Internal Coordinator deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this internal coordinator?
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('deleteInternalCoordinator', {'id': internalCoordinator.id}) }}"><button type="button" class="btn btn-primary">Yes</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    {% endfor %}

{% endblock %}