<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Erasmus+{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.css') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap-toggle-master/css/bootstrap-toggle.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/mainStyle.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <h1 class="page-header">
                        <img class="pwr-logo" height="50" src="{{ asset('images/pwr-logo.png') }}"/>
                        <span class="header-text">
                            {% block header %}{% endblock %}
                        </span>
                    </h1>
                    <ul class="nav navbar-nav navbar-left">
                        {#<li><img class="pwr-logo" height="50" src="{{ asset('images/pwr-logo.png') }}"/></li>#}
                        <li><p class="navbar-text"><a href="{{ path('homepage') }}" class="navbar-link">Home</a></p></li>
                        <li><p class="navbar-text"><a href="{{ path('enrollments') }}" class="navbar-link">Enrollments</a></p></li>
                        {% if app.session.get('role') == 'Administrator' %}
                            {% include 'Administrator/adminNavbar.html.twig' %}
                        {% elseif app.session.get('role') == 'Internal Coordinator' %}
                            {% include 'Coordinator/internalCoordinatorNavbar.html.twig' %}
                        {% elseif app.session.get('role') == 'External Coordinator' %}
                            {% include 'Coordinator/externalCoordinatorNavbar.html.twig' %}
                        {% elseif app.session.get('role') == 'Deans Office' %}
                            {% include 'DeansOffice/deansOfficeNavbar.html.twig' %}
                        {% elseif app.session.get('role') == 'Student' %}
                            {% include 'Student/studentNavbar.html.twig' %}
                        {% elseif app.session.get('role') == 'DWM' %}
                            {% include 'DWM/dwmNavbar.html.twig' %}
                        {% endif %}
                    </ul>
                    {#<img class="pwr-logo" height="50" src="{{ asset('images/pwrLogo.png') }}"/>#}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <p class="navbar-text">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}" class="navbar-link">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </p>
                            <h3>{{ app.session.get('role') }}</h3>
                        {% else %}
                            {#<ul class="nav navbar-nav">#}
                                <li><p class="navbar-text">
                                        <a href="{{ path('fos_user_security_login') }}" class="navbar-link">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    </p></li>
                            {#</ul>#}
                        {% endif %}
                    </ul>

                </div>
            </nav>
            {% block body %}{% endblock %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap-toggle-master/js/bootstrap-toggle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/mainScript.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
