{% extends "Basic/list.html.twig" %}

{% block header %}
    Students
{% endblock %}

{% block listName %}
    <h2 class="header">Student List</h2>
{% endblock %}

{% block tableHeader %}

    <tr>
        <th class="hover-col">No. <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span></th>
        <th class="hover-col">Name <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Surname <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Index Number <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span></th>
    </tr>

{% endblock %}

{% block tableBody %}

    {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.surname }}</td>
            <td>{{ indexes[loop.index-1] }}</td>
        {% if app.session.get('role') == 'DWM' %}
            <td><a href="{{ path('assignStudentIndex', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Assign Student Index</button></a></td>
        {% endif %}
        {% if app.session.get('role') == 'External Coordinator' or app.session.get('role') == 'DWM' %}
            <td><a href="{{ path('studentEnrollmentsState', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Students Enrolled Courses Acceptance</button></a></td>
        {% endif %}
        </tr>
    {% endfor %}

{% endblock %}