{% extends "Basic/list.html.twig" %}

{% block header %}
    <h1 class = "page-header">Students</h1>
{% endblock %}

{% block addOrEditForm %}
    {% form_theme form _self %}

    <div class = "table-wrap">

        {#<a href="{{ path('internalCoordinator') }}"><button type="button" class="btn btn-primary Back-Button">Back</button></a>#}

        <h2 class="header">{{ formTitle }}</h2>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

    {% block form_errors %}
        {% spaceless %}
            {% if errors is defined and errors|length > 0 %}
                <ul class="error-list">
                    {% for error in errors %}
                        <li class="error-message">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endblock form_errors %}
{% endblock %}

{% block listName %}
    <h2 class="header">Student List</h2>
{% endblock %}

{% block tableHeader %}

    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Index Number</th>
    </tr>

{% endblock %}

{% block tableBody %}

    {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.surname }}</td>
            <td>{{ indexes[loop.index-1] }}</td>

        {% if app.session.get('role') == 'Internal Coordinator' %}
            <td><a href="{{ path('editStudent', {'id': student.id}) }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
            <td><a href="{{ path('deleteStudent', {'id': student.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a></td>

            <td><a href="{{ path('studentCourseList', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Students Courses</button></a></td>
            <td><a href="{{ path('assignStudentIndex', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Assign Student Index</button></a></td>
        {% endif %}

        {% if app.session.get('role') == 'Deans Office' %}
            <td><a href="{{ path('studentCourseList', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Students Courses</button></a></td>
        {% endif %}

        {% if app.session.get('role') == 'External Coordinator'%}
            <td><a href="{{ path('studentEnrollmentsState', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Students Enrolled Courses Acceptance</button></a></td>
        {% endif %}

        {% if app.session.get('role') == 'DWM' %}
            <td><a href="{{ path('assignStudentIndex', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Assign Student Index</button></a></td>
            <td><a href="{{ path('studentEnrollmentsState', {'studentId': studentArr[loop.index-1].id}) }}"><button type="button" class="btn btn-info">Students Enrolled Courses Acceptance</button></a></td>
        </tr>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block javascripts %}

    <script>
        $("#student_university_university").change(function(){

            var data = {
                university_id: $(this).val()
            };

            var universityId = $(this).val();
            var url = "{{ url('externalCoordinatorsByUniversity', {'id': 'universityId'}) }}";
            var id = universityId;
            url = url.replace("universityId", id);

            $.ajax(
                {
                    type: 'get',
                    url: url,
                    data: data,
                    success: function(externalCoordinators) {

                        var externalCoordinatorsOptions = $('#student_university_externalCoordinator');

                        externalCoordinatorsOptions.html('');
                        if(externalCoordinators.length > 0){

                            for (var i=0; i < externalCoordinators.length; i++) {
                                externalCoordinatorsOptions.append('<option value="' + externalCoordinators[i].externalCoordinatorId + '">' + externalCoordinators[i].name + ' ' + externalCoordinators[i].surname + '</option>');
                            }
                        }
                    }
                });
        });
    </script>
{% endblock %}