<li><p class="navbar-text"><a href="{{ path('internalCoordinatorList') }}" class="navbar-link">Internal Coordinators</a></p></li>
<li><p class="navbar-text"><a href="{{ path('dwmList') }}" class="navbar-link">DWMs</a></p></li>
<li><p class="navbar-text"><a href="{{ path('universityList') }}" class="navbar-link">Universities</a></p></li>
<li><p class="navbar-text"><a href="{{ path('facultyList') }}" class="navbar-link">Faculties</a></p></li>
<li><p class="navbar-text"><a href="{{ path('countryList') }}" class="navbar-link">Countries</a></p></li>
<li><p class="navbar-text"><a href="{{ path('semesterList') }}" class="navbar-link">Semesters</a></p></li>