{% extends "Basic/list.html.twig" %}

{% block header %}
    <h1 class = "page-header">Semesters</h1>
{% endblock %}

{% block addOrEditForm %}
        <a href="{{ path('shiftSemesters') }}"><button id="shift-sem-button" type="button" class="btn btn-primary addBtn">Shift Semesters</button></a>
{% endblock %}

{% block listName %}
    <h2 class="header">Semester List</h2>
{% endblock %}

{% block tableHeader %}

    <tr>
        <th>No.</th>
        <th>Season</th>
        <th>Year</th>
        <th>Status</th>
    </tr>

{% endblock %}

{% block tableBody %}

    {% for semester in semesters %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ semester.season }}</td>
            <td>{{ semester.year }}</td>
            <td>{{ semester.status }}</td>

            <td><a href="{{ path('editSemester', {'id': semester.id}) }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
        </tr>
    {% endfor %}

{% endblock %}