{% extends "Basic/list.html.twig" %}

{% block header %}
    Semesters
{% endblock %}

{% block addOrEditForm %}
        <a href="{{ path('shiftSemesters') }}"><button id="shift-sem-button" type="button" class="btn btn-primary addBtn">Shift Semesters</button></a>
{% endblock %}

{% block listName %}
    <h2 class="header">Semester List</h2>
{% endblock %}

{% block tableHeader %}

    <tr>
        <th class="hover-col">No. <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span></th>
        <th class="hover-col">Season <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Year <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
        <th class="hover-col">Status <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></th>
    </tr>

{% endblock %}

{% block tableBody %}

    {% for semester in semesters %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ semester.season }}</td>
            <td>{{ semester.year }}</td>
            <td>{{ semester.status }}</td>

            <td><a href="{{ path('editSemester', {'id': semester.id}) }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
        </tr>
    {% endfor %}

{% endblock %}